@import '../common/vars';

.footer {
    padding: 50px 100px;
    background-color: $primary-color;
    color: $secondary-color;

    @include b(tablet) {
        width: 100%;
    }

    @include b(mobile) {
        padding: 25px 50px;
    }

    @include b(mobile-sm) {
        padding: 25px;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;

        @include b(mobile) {
            display: block;
        }

    }

    &__download {
        text-align: center;

        &-text {
            font-size: 24px;
            margin-bottom: 20px;

            @include b(mobile) {
                margin-bottom: 30px;
                margin-left: 0;
            }
        }

        &-link {
            display: inline-block;
            font-size: 24px;
            padding: 5px 20px;
            border: 1px solid currentColor;
            border-radius: 10px;

            @include b(mobile) {
                margin-bottom: 30px;
                margin-left: 0;
            }

            &:hover {
                color: $grey-color;
                border-color: $light-gray-color;
                box-shadow: 0 0 10px $light-gray-color;
            }
        }
    }
}