@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.3s;
}

.head {
  padding: 25px 0;
  background-color: #5a996a;
  color: #373741;
}
.head__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .head__wrap {
    display: block;
    text-align: center;
  }
}
.head__img {
  max-width: 120px;
  border-radius: 50%;
  margin-left: 100px;
  box-shadow: 3px 2px 10px 0px;
}
@media (max-width: 767px) {
  .head__img {
    width: 100%;
    margin-left: 0;
  }
}
.head__caption {
  margin-left: 50px;
  font-weight: 500;
  font-size: 50px;
  text-shadow: 3px 2px 8px;
}
@media (max-width: 767px) {
  .head__caption {
    width: 100%;
    margin-left: 0;
  }
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .about__wrap {
    display: block;
  }
}
.about__info {
  padding: 25px 100px;
  width: 45%;
  background-color: #373741;
  color: #ccc;
}
@media (max-width: 1024px) {
  .about__info {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about__info {
    padding: 25px 50px;
  }
}
@media (max-width: 479px) {
  .about__info {
    padding: 25px;
  }
}
.about__title {
  font-weight: 500;
  font-size: 34px;
  border-bottom: 5px solid #5a996a;
  margin-bottom: 30px;
}
.about__list {
  margin: 0 25px 25px 0;
}
.about__list-link:hover {
  color: #5a996a;
}
.about__body {
  padding: 25px 100px;
}
@media (max-width: 1024px) {
  .about__body {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about__body {
    padding: 25px 50px;
  }
}
@media (max-width: 479px) {
  .about__body {
    padding: 25px;
  }
}
.about__text {
  font-size: 24px;
  margin-bottom: 30px;
}
.about__text-name {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.footer {
  padding: 50px 100px;
  background-color: #5a996a;
  color: #373741;
}
@media (max-width: 1024px) {
  .footer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 25px 50px;
  }
}
@media (max-width: 479px) {
  .footer {
    padding: 25px;
  }
}
.footer__download {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__download {
    display: block;
  }
}
.footer__download-text {
  font-size: 24px;
}
@media (max-width: 767px) {
  .footer__download-text {
    margin-bottom: 30px;
    margin-left: 0;
  }
}
.footer__download-link {
  display: inline-block;
  font-size: 24px;
  padding: 5px 20px;
  margin-left: 50px;
  border: 1px solid currentColor;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .footer__download-link {
    margin-bottom: 30px;
    margin-left: 0;
  }
}
.footer__download-link:hover {
  box-shadow: 0 0 10px 0px;
}

/*# sourceMappingURL=style.css.map */
