@import './vars';

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
  }

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $main-ff;
    font-size: $main-fz;
    line-height: $main-lh;
    font-weight: $main-fw;
    color: $main-color;
    margin: 0;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: $trs;
}

.head {
    padding: 25px 0;
    background-color: $primary-color;
    color: $secondary-color;

    &__wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include b(mobile) {
            display: block;
            text-align: center;
        }
    }

    &__img {
        max-width: 150px;
        border-radius: 50%;
        margin-left: 100px;
            @include b(mobile) {
                width: 100%;
                margin-left: 0;
            }
    }

    &__caption {
        margin-left: 50px;
        font-weight: 500;
        font-size: 50px;
        @include b(mobile) {
            width: 100%;
            margin-left: 0;
        }
    }
}

.about {

    &__wrap {
        display: flex;
        justify-content: space-between;
        @include b(tablet) {
            display: block;
        }
    }

    &__info {
        padding: 25px 100px;
        width: 45%;
        background-color: $secondary-color;
        color: $grey-color;
        @include b(tablet) {
            width: 100%;
        }
        @include b(mobile) {
            padding: 25px 50px;
        }
        @include b(mobile-sm) {
            padding: 25px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 34px;
        border-bottom: 5px solid $primary-color;
        margin-bottom: 30px;
    }

    &__list {
        margin: 0 25px 25px;

        &-link {

            &:hover {
                color: $primary-color;
            }
        }
    }

    &__body {
        padding: 25px 100px;
        @include b(tablet) {
            width: 100%;
        }
        @include b(mobile) {
            padding: 25px 50px;
        }
        @include b(mobile-sm) {
            padding: 25px;
        }
    }

    &__text {
        font-size: 24px;
        margin-bottom: 30px;

        &-name{
            display: block;
            font-weight: bold;
            font-size: 24px;

        }
    }
}

.footer{
    padding: 50px 100px;
    background-color: $primary-color;
    color: $secondary-color;
        @include b(tablet) {
            width: 100%;
        }
        @include b(mobile) {
            padding: 25px 50px;
        }
        @include b(mobile-sm) {
            padding: 25px;
        }
    
        &__download {
            display: flex;
            align-items: center;
            @include b(mobile) {
                display: block;
            }

            &-text {
            font-size: 24px;
            @include b(mobile) {
                margin-bottom: 30px;
                margin-left: 0;
            }
            }

            &-link {
                display: inline-block;
                font-size: 24px;
                padding: 5px 20px;
                margin-left: 50px;
                border: 1px solid currentColor;
                border-radius: 10px;
                @include b(mobile) {
                    margin-bottom: 30px;
                    margin-left: 0;
                }

                &:hover {
                    background-color: $transparant-color;
                    border: 1px solid $transparant-color;
                }
            }
        }

}